/bot/bot.iml
/bot/node_modules/*
/bot/package-lock.json
/bot/*

/db/*

/front/node_modules/*
/front/package-lock.json


/backend/node_modules/*
/backend/package-lock.json

.env
### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr